<header class="site-header">
  <div class="container" style="padding-bottom: 0; margin: 0 auto;">
    <nav class="nav">
      <ul id="nav-links" class="nav-links">
        <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">index</a></li>
        <li><a href="{{ '/blog/' | relative_url }}" class="{% if page.url == '/blog/' %}active{% endif %}">writing</a></li>
        <li><a href="{{ '/about/' | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}">about</a></li>
        <li><a href="{{ '/contact/' | relative_url }}" class="{% if page.url == '/contact/' %}active{% endif %}">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
